@import "tailwindcss";

::view-transition-old(root) {
  animation: fadeOut 1s ease forwards;
}

::view-transition-new(root) {
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
