---
import '@fontsource/ubuntu-mono/700.css';
import '@fontsource/neucha';
---
<div class="font-[Ubuntu_Mono] flex flex-col ml-3 mr-3 gap-6 items-center">
    <h2 class="text-3xl mt-4">Sobre mi curriculum</h2>
    <div class="w-full bg-purple-400 rounded-lg mt-4 mb-4 flex flex-row">
            <div class="flex flex-col ml-3 items-center gap-10">
                <p class="text-xl  leading-10">Bienvenido a esta sección, donde podrás descargar mi currículum completo y 
                    explorar apartados específicos que destacan mis competencias clave. 
                    Además de mis habilidades interpersonales y competencias digitales, encontrarás un 
                    apartado dedicado a los idiomas.
        
                    En este espacio destaco que, si bien mi lengua materna es el español y catalán , 
                    el inglés es un área en la que estoy en constante mejora. Mi compromiso 
                    por perfeccionar mis habilidades comunicativas me impulsa a seguir aprendiendo y adaptándome 
                    a contextos internacionales.</p>
                    <!--Aqui ira la parte para que se envie a ver mi curriculum en pdf o que pueda descargarlo -->
                    <a target="_blank" href="Curriculum-JoelMesas.pdf">
                        <button class="bg-white rounded-xl p-2 cursor-pointer text-black hover:bg-gray-200">
                            Ver/Descargar Curriculum <i class="fa-solid fa-download"></i> </button>
                    </a>
            </div>
            <img class="w-200 h-100 rounded-full" src="ordenadorImg.jpg" alt="Img de web ejemplo">
    </div>
    <h2 class="text-3xl mt-4">Apartados que necesitas saber</h2>
    <div class="relative w-full">
        <!--Aqui es donde quiero hacer un scroll de algunos apartados del curriculum -->
    </div>
</div>